body {
    background-color: var(--background-grey);
    min-height: 100vh;
}
label {
    font-size: 20px;
    margin-bottom: 8px;
}
p{
    margin-top: 0;
    margin-bottom: 8px;
}
.font-size20{
    font-size: 20px;
}
ul{
    margin: 0;
}
input, textarea, button, option {
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    padding-left: 8px;
}
input, textarea {
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    margin-bottom: 16px;
    border-radius: 5px;
    border: 1px solid #D9D9D9;
}
input:focus, textarea:focus{
    border: 1px solid var(--light-blue);
    outline: none;
}
input{
    height: 40px;
}
::placeholder{
    color: #d1d1d1;
}
textarea{
    height: 120px;
}
.add-task-container{
    max-width: calc(100% - 300px); 
    box-sizing: border-box; 
}
.add-task-headline{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 340px;
    margin-top: 80px;
}
.add-task-headline h1 {
    font-size: 61px;
    margin-bottom: 50px; 
}
.add-task {
    display: flex;
    justify-content: flex-start;
    margin-left: 340px;
    gap: 48px;
}
.add-task-left, .add-task-right {
    width: 440px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.add-task-right {
    position: relative; /* Make this a positioning context for its children */
    padding-bottom: 100px; /* Provide enough padding at the bottom for the buttons */
}
.left-input-container {
    display: flex;
    flex-direction: column;
    width: 95%;
}
.right-input-container {
    display: flex;
    flex-direction: column;
    width: 95%;
}
.divider {
    width: 1px;
    height: 424px;
    margin-bottom: 220px;
    background-color: #D9D9D9;
    align-self: center; 
}
#priority p{
    margin-top: 0;
    margin-bottom: 8px;
}
.priority-container {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
}
#priority-urgent, #priority-medium, #priority-low {
    width: 136px;
    height: 56px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#priority-urgent:hover, #priority-medium:hover, #priority-low:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.urgent-priority-active {
    background-color: var(--urgent) !important;
    color: white;
}
.medium-priority-active {
    background-color: var(--medium) !important;
    color: white;
}
.low-priority-active {
    background-color: var(--low) !important;
    color: white;
}
.add-task-buttons {
    display: flex;
    position: absolute;
    gap: 16px;
    bottom: 95px;
    right: 16px;
}
.priority-active {
    color: white;
}
#add-task-btn {
    background-color: var(--dark-blue);
    display: flex;
    color: white;
    padding: 16px;
    gap: 4px;
    border-radius: 10px;
    cursor: pointer;
    align-items: center;
    border: none;
}
#add-task-btn:hover {
    background-color: var(--light-blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#clear-btn {
    background-color: white;
    display: flex;
    align-items: center;
    color: var(--dark-blue);
    border: 1px solid var(--dark-blue);
    border-radius: 10px;
    padding: 16px;
    gap: 4px;
    cursor: pointer;
}
#clear-btn:hover {
    color: var(--light-blue);
    border: 1px solid var(--light-blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: scale(1.05);
}
#clear-btn:hover img {
    filter: invert(55%) sepia(100%) saturate(3000%) hue-rotate(175deg) brightness(90%) contrast(90%);
}
.field-required-info {
    font-size: 14px;
    margin-bottom: 100px;
}
.red-asterisk {
    color: red;
}
.add-subtask{
    display: flex;
    align-items: center;
}
.icon-plus{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    cursor: pointer;
}
.icon-plus:hover{
    background-color: #d1d1d1;
    border-radius: 50%;
}
/* ADD TASK ANIMATION */
#notification-container {
    position: fixed;
    left: calc(50% + 116px); 
    transform: translateX(-50%) translateY(100%);
    z-index: 999;
}
#notification-container.animate {
    animation: slideIn 0.2s ease-in-out forwards;
}
.notification {
    width: 232px;
    height: 46px;
    background-color: var(--dark-blue);
    color: white;
    display: flex;
    justify-content: space-between;
    gap: 8px;
    white-space: nowrap;
    align-items: center;
    border-radius: 16px;
    padding: 8px 16px;
}
@keyframes slideIn {
    from {
        transform: translateX(-50%) translateY(100%);
    }
    to {
        transform: translateX(-50%) translateY(calc(-50vh + 48px + 96px - 200px));
    }
}
/* SUBTASK STYLE */
#subtasks{
    margin-bottom: 0;
}
#subtask-container{
    max-height: 72px;
    overflow-y: auto;
    margin-bottom: 16px;
}
.subtask{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}
.subtask:hover{
    background-color: #d1d1d1;
    border-radius: 8px;
}
.subtask-icons{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-right: 10px;
}
.subtask-icons img{
    cursor: pointer;
}
.subtask-line{
    width: 1px;
    height: 20px;
    background-color: #d9d9d9;
}
/* DISPLAY NONE */
.d-none{
    display: none;
}
/* SELECT CONTACTS FIELD */
.custom-select-wrapper{
    z-index: 99;
}
.custom-select {
    position: relative;
    font-size: 20px;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 0 4px 0 8px;
    background-color: white;
    margin-bottom: 16px;
}
.custom-select:focus-within {
    outline: none;
    border: 1px solid var(--light-blue);
}
.select-items div, .select-selected {
    cursor: pointer;
}
.select-items {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    z-index: -1;
    background-color: white;
    overflow-y: auto; 
    max-height: 175px;
}
.select-items div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 5;
}
.select-hide {
    display: none;
}
.select-items div:hover {
    background-color: #d1d1d1 !important;
    border-radius: 8px !important;
}
.dropdown-arrow {
    cursor: pointer;
    z-index: 1;
}
.dropdown-arrow:hover {
    background-color: #d1d1d1;
    border-radius: 50%;
}
  /* TEST CONTACTS */
.test-contact-container{
    display: flex;
    align-items: center; 
    gap: 8px;
}
.test-contact{
    color: white;
    border-radius: 45px;
    border: 1px solid white;
    height: 24px;
    width: 24px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 12px;
  }
.option-item{
    display: flex;
    align-items: center; 
    gap: 8px;
    padding: 4px 8px; 
    border-radius: 8px; 
}
#assign-contacts{
    display: flex;
    gap: 4px;
}
.contact-search-input {
    width: 100%; 
    padding: 4px; 
    box-sizing: border-box; 
    margin-bottom: 0;
}
.contact-search-input:focus {
    outline: none; 
    border: none;
}
.contact-search-input.select-show {
    display: block; 
}
  /* ERROR MESSAGE */
  .error-message {
    display: none;
    color: red;
    font-size: 10px;
    margin-bottom: 16px;
    margin-top: -15px;
}
.input-error {
    border: 1px solid var(--urgent);
}