.board-container{
    display: flex;
    flex-direction: column;
}
/* BOARD HEADER STYLE */
.board-header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    height: 96px;
    max-width: 1056px;
    width: 73%;
    margin: 80px 88px 48px 280px;
}
#add-task-btn-board {
    background-color: var(--dark-blue);
    display: flex;
    color: white;
    padding: 16px;
    gap: 4px;
    border-radius: 10px;
    cursor: pointer;
    align-items: center;
    border: none;
    height: 48px;
}
#add-task-btn-board:hover {
    background-color: var(--light-blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.board-search-container {
    display: flex;
    align-items: center;
    gap: 32px;
}
.board-input-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    height: 48px;
}
#search-tasks {
    height: 48px;
    width: 100%;
    padding-right: 30px; 
    margin-bottom: 0;
}
#search-task-icon:hover{
    cursor: pointer;
    background-color: #e7e7e7;
    border-radius: 50%;
    border-left: 1px solid #e7e7e7;    
}
.board-input-icons {
    display: flex;
    align-items: center;
    position: absolute;
    right: 10px; 
    height: 32px;
    border-left:1px solid #e7e7e7;
    box-sizing: border-box;
    padding-left: 16px;
}
/* BOARD CONTENT STYLE */
.progress-container {
    width: 75%;
    margin-left: 280px;
    display: flex;
}
.progress-header {
    height: 48px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between; 
    gap: 35px;
}
.progress-column {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25%; 
}
.progress-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.progress-title img:hover{
    cursor: pointer;
    filter: invert(55%) sepia(100%) saturate(3000%) hue-rotate(175deg) brightness(90%) contrast(90%);
}
.progress-title span{
    font-size: 20px;
    font-weight: 700;
    color: #42526E;
}