.board-container{
    display: flex;
    flex-direction: column;
}
/* BOARD HEADER STYLE */
.board-header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    height: 96px;
    max-width: 1056px;
    width: 73%;
    margin: 80px 88px 48px 280px;
}
#add-task-btn-board {
    background-color: var(--dark-blue);
    display: flex;
    color: white;
    padding: 16px;
    gap: 4px;
    border-radius: 10px;
    cursor: pointer;
    align-items: center;
    border: none;
    height: 48px;
}
#add-task-btn-board:hover {
    background-color: var(--light-blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.board-search-container {
    display: flex;
    align-items: center;
    gap: 32px;
}
.board-input-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    height: 48px;
}
#search-tasks {
    height: 48px;
    width: 100%;
    padding-right: 30px; 
    margin-bottom: 0;
}
#search-task-icon:hover{
    cursor: pointer;
    background-color: #e7e7e7;
    border-radius: 50%;
    border-left: 1px solid #e7e7e7;    
}
.board-input-icons {
    display: flex;
    align-items: center;
    position: absolute;
    right: 10px; 
    height: 32px;
    border-left:1px solid #e7e7e7;
    box-sizing: border-box;
    padding-left: 16px;
}
/* BOARD CONTENT STYLE */
.progress-container {
    width: 75%;
    margin-left: 280px;
    display: flex;
}
.progress-header {
    height: 48px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between; 
    gap: 35px;
}
.progress-column {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 25%; 
    height: 500px;
}
.progress-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.progress-title img:hover{
    cursor: pointer;
    filter: invert(55%) sepia(100%) saturate(3000%) hue-rotate(175deg) brightness(90%) contrast(90%);
}
.progress-title span{
    font-size: 20px;
    font-weight: 700;
    color: #42526E;
}
/* BOARD CONTAINERS */
.dotted-container{
    width: 100%;
    border: 2px dotted #a8a8a8;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    background-color: #e7e7e7;
    box-sizing: border-box;
    margin-top: 16px;
}
.empty-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 48px;
    box-sizing: border-box;
}
.empty-column span{
    font-size: 16px;
    font-weight: 400;
    color: #a8a8a8;
}
/* ADD TASK CONTAINER OVERLAY */
#add-task-container-board {
    visibility: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(50%, -50%) translateX(100%);
    max-width: 1116px;
    max-height: 870px;
    width: 100%;
    height: 90%;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: transform 225ms ease-in-out;
}
#add-task-container-board.active {
    visibility: visible;
    display: block; 
    transform: translate(-50%, -50%); 
}
#add-task-container-board.closing { 
    transform: translate(50%, -50%) translateX(100%); 
}
#close-task-btn{
    position: fixed;
    top: 64px;
    right: 40px;
}
#close-task-btn:hover{
    cursor: pointer;
    background-color: #e7e7e7;
    border-radius: 50%;
}
/* ADD TASK SECTION ON BOARD */
.add-task{
    margin-left: 74px;
    width: 100%;
}
.add-task-headline{
    margin-left: 74px;
}
.field-required-info{
    margin-left: -260px;
}
.date-icon{
    right: 16px;
}
/* PAGE OVERLAY */
#page-overlay{
    display: none;
}
#page-overlay.active {
    display: block;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 999; 
}
/* EDIT TASK CONTAINER */
.edit-task-container {
    /* display: none; FÜR TESTZWECKE----------------------------------------------------------------------------------------- */
    background-color: white;
    height: fit-content;
    max-width: 525px;
    width: 80%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    border-radius: 30px;
    padding: 0 40px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}
.edit-task-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 36px;
    width: 100%;
    padding: 48px 0 24px 0;
    box-sizing: border-box;
}
.category-headline{
    font-size: 23px;
    background-color: var(--user-story-task);
    color: white;
    padding: 4px 24px;
    border-radius: 8px;
}
.close-edit-task:hover{
    cursor: pointer;
    background-color: #e7e7e7;
    border-radius: 50%;
}
.edit-task-title-container{
    box-sizing: border-box;
    padding: 24px 0;
}
.edit-task-description-container{
    box-sizing: border-box;
    font-size: 20px;
}
.edit-task-due-date-container{
    font-size: 20px;
    box-sizing: border-box;
    padding: 24px 0;
    display: flex;
    gap: 24px;
}
.task-container-mini-headlines{
    color: #2A3647;
    font-size: 20px;
    font-weight: 400;
}
.edit-task-priority-container{
    display: flex;
    align-items: center;
    gap: 24px;
    font-size: 20px;
    box-sizing: border-box;
}
.priority-icon-container{
    display: flex;
    align-items: center;
    gap: 10px;
}
.edit-task-contacts-container{
    box-sizing: border-box;
    padding: 24px 0;
}
.test-contact-container-board{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding-top: 8px;
}
.contact-icon-container{
    display: flex;
    align-items: center;
    gap: 16px;
}
.contact-icon-container p{
    margin: 0;
}
.edit-task-subtasks-container{
    box-sizing: border-box;
    padding-bottom: 24px;
}
.subtasks-check-container{
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 10px 16px 4px 16px;
}
.subtasks-check-container:hover{
    cursor: pointer;
    background-color: #e7e7e7;
    border-radius: 10px;
}
.edit-task-footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
    padding: 24px 0 48px 0;
}
.edit-task-footer-icons{
    display: flex;
    align-items: center;
    gap: 8px;
}
.edit-task-footer-icons:hover{
    cursor: pointer;
    filter: invert(55%) sepia(100%) saturate(3000%) hue-rotate(175deg) brightness(90%) contrast(90%);
}