/* MAX WIDTH 1000px */
@media (max-width: 1000px) {
    .progress-header {
        flex-direction: column;
    }
    .progress-title {
        align-items: center;
    }
    .board-header{
        margin-left: 24px;
        margin-right: 24px;
        width: 95%;
    }
    .progress-container{
        margin-left: 24px;
        margin-right: 24px;
        width: 95%;
        min-height: 100vh;
    }
    .board-container{
        min-height: auto;
        padding-bottom: 30%;
    }
    .progress-column {
        flex-direction: row; 
        flex-wrap: wrap; 
        justify-content: flex-start; 
        align-items: flex-start;
        width: 100%;
    }
    .dotted-container, .dotted-container-drag-drop {
        flex: 1; 
        display: flex;
        height: auto; 
    }
    .dotted-container{
        gap: 16px;
    }
    .dotted-container-drag-drop {
        width: 15%;
        margin-left: 16px;
        display: none;
    }
    .progress-column > div:last-child {
        margin-right: 0;
    }
    .mini-task-container{
        width: fit-content;
    }
    .progress-column, .dotted-container {
        min-height: auto;
    }
}