/* MAX WIDTH 1360px */
@media (max-width: 1360px) {
    .progress-header {
        gap: 16px;
    }
}

/* MAX WIDTH 1290px */
@media (max-width: 1290px) {
    .progress-header {
        gap: 12px;
    }
}

/* MIN WIDTH 1000px */
@media (min-width: 725px) {
    #add-task-btn-board-mobile {
        display: none;
    }

    .header-wrapper {
        width: 1%;
    }
}

/* MAX WIDTH 1290px */
@media (max-width: 1290px) {
    .board-header {
        margin-left: 270px;
    }

    .progress-container {
        margin-left: 270px;
        width: 78%;
    }
}

/* MAX WIDTH 1240px */
@media (max-width: 1240px) {
    .progress-header {
        flex-direction: column;
        gap: 8px;
    }

    .progress-title {
        align-items: center;
    }

    .dotted-container,
    .dotted-container-drag-drop {
        flex: 1;
        display: flex;
        height: auto;
    }

    .dotted-container {
        gap: 16px;
        overflow-x: auto;
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .dotted-container-drag-drop {
        width: 15%;
        margin-left: 16px;
        display: none;
    }

    .progress-column>div:last-child {
        margin-right: 0;
    }

    .progress-column {
        width: 90%;
        padding-bottom: 20px;
    }

    #add-task-container-board {
        width: 90%;
    }

    .add-task-headline {
        margin-left: 16px;
    }

    .add-task {
        margin-left: 16px;
    }

    .minitask-menu {
        display: flex
    }

    .mini-task-container:hover {
        transform: rotate(0deg);
    }

}

/* MAX WIDTH 1000px */
@media (max-width: 1000px) {
    .progress-header {
        flex-direction: column;
        gap: 4px;
    }

    .progress-title {
        align-items: center;
    }

    .board-header {
        margin-left: 24px;
        margin-right: 24px;
        width: 95%;
    }

    .progress-container {
        margin-left: 24px;
        margin-right: 24px;
        width: 95%;
        min-height: 100vh;
    }

    .board-container {
        min-height: auto;
        padding-bottom: calc(80px + 50%);
    }

    .progress-column {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        padding-bottom: 20px;
    }

    .dotted-container,
    .dotted-container-drag-drop {
        flex: 1;
        display: flex;
        height: auto;
    }

    .dotted-container {
        gap: 16px;
        min-width: 300px;
        overflow-x: auto;
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .dotted-container-drag-drop {
        width: 15%;
        margin-left: 16px;
        display: none;
    }

    .progress-column>div:last-child {
        margin-right: 0;
    }

    .mini-task-container {
        max-width: 200px;
        width: fit-content;
    }

    .progress-column,
    .dotted-container {
        min-height: auto;
    }
}

/* MAX WIDTH 725px */
@media (max-width: 725px) {
    .board-header {
        flex-direction: column;
    }

    .header-wrapper h1 {
        font-size: 48px;
    }

    #add-task-btn-board {
        display: none;
    }

    .header-wrapper {
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin-bottom: 40px;
    }

    .board-search-container {
        width: 90%;
        padding-bottom: 24px;
    }

    .board-input-wrapper {
        width: 100%;
    }

    #add-task-btn-board-mobile {
        cursor: pointer;
        width: 40px;
    }

    .board-container {
        padding-bottom: calc(80px + 90%);
    }

    .dotted-container {
        width: 90%;
    }

    .progress-container {
        margin-left: 16px;
        margin-right: 16px;
        margin-top: 24px;
        width: 90%;
    }

    .progress-title img {
        width: 30px;
    }

    .progress-title span {
        font-size: 24px;
    }

    .edit-task-container span {
        font-size: 16px;
    }

    .edit-task-title-container h1 {
        font-size: 36px;
    }

    .edit-task-contacts-container {
        max-height: 150px;
    }

    .edit-task-subtasks-container {
        max-height: 150px;
    }
}

/* MAX WIDTH 500px */
@media (max-width: 500px) {
    .edit-mode-priority-container div {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 4px 0;
    }
}

/* MAX WIDTH 400px */
@media (max-width: 400px) {
    .dotted-container {
        min-width: 200px;
    }

    .board-header {
        margin-left: 16px;
        margin-top: 48px;
    }

    .edit-task-container {
        padding: 0 16px;
        width: 95%;
        max-height: 650px;
        overflow-y: hidden;
    }

    .edit-task-contacts-container {
        max-height: 110px;
        padding: 16px 0;
    }

    .additional-contacts {
        height: 15px;
        width: 15px;
    }

    .edit-task-subtasks-container {
        max-height: 100px;
        margin-top: 0;
    }

    .edit-mode-task-subtasks-container {
        margin-top: 30px;
    }

    .subtasks-check-container span {
        font-size: 14px;
    }

    .edit-mode-task-container {
        max-width: 320px;
        height: 95%;
    }

    .board-container {
        padding-bottom: calc(150px + 170%);
    }

    .test-contact {
        height: 15px;
        width: 15px;
        font-size: 14px;
    }

    .edit-task-title-container {
        padding: 4px 0 16px 0;
    }

    .edit-task-due-date-container {
        padding: 16px 0;
    }
}