.board-header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    height: 96px;
    width: 1056px;
    margin: 80px 88px 80px 280px;
}
#add-task-btn-board {
    background-color: var(--dark-blue);
    display: flex;
    color: white;
    padding: 16px;
    gap: 4px;
    border-radius: 10px;
    cursor: pointer;
    align-items: center;
    border: none;
    height: 48px;
}
#add-task-btn-board:hover {
    background-color: var(--light-blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.board-search-container {
    display: flex;
    align-items: center;
    gap: 32px;
}
.board-input-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    height: 48px;
}
#search-tasks {
    height: 48px;
    width: 100%;
    padding-right: 30px; 
    margin-bottom: 0;
}
#search-task-icon:hover{
    cursor: pointer;
    transform: perspective(1.05);
    background-color: #e7e7e7;
    border-radius: 50%;    
}
.board-input-icons {
    display: flex;
    align-items: center;
    position: absolute;
    right: 10px; 
    height: 100%;
}
.board-input-icons span{
    color: #e7e7e7;
}
.board-input-icons span, .board-input-icons img {
    margin-left: 4px;
}