/* MAX WIDTH 1360px */
@media (max-width: 1360px) {
    .progress-header{
        gap: 16px;
    }
}
/* MAX WIDTH 1290px */
@media (max-width: 1290px) {
    .progress-header{
        gap: 12px;
    }
}
/* MIN WIDTH 1000px */
@media (min-width: 725px) {
    #add-task-btn-board-mobile {
        display: none;
}
.header-wrapper{
    width: 1%;
}
}
/* MAX WIDTH 1000px */
@media (max-width: 1000px) {
    .progress-header {
        flex-direction: column;
        gap: 4px;
    }
    .progress-title {
        align-items: center;
    }
    .board-header{
        margin-left: 24px;
        margin-right: 24px;
        width: 95%;
    }
    .progress-container{
        margin-left: 24px;
        margin-right: 24px;
        width: 95%;
        min-height: 100vh;
    }
    .board-container{
        min-height: auto;
        padding-bottom: calc(80px + 40%);
    }
    .progress-column {
        flex-direction: row; 
        flex-wrap: wrap; 
        justify-content: flex-start; 
        align-items: flex-start;
        width: 100%;
        padding-bottom: 20px;
    }
    .dotted-container, .dotted-container-drag-drop {
        flex: 1; 
        display: flex;
        height: auto; 
    }
    .dotted-container{
        gap: 16px;
        min-width: 300px;
        overflow-x: auto;
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .dotted-container-drag-drop {
        width: 15%;
        margin-left: 16px;
        display: none;
    }
    .progress-column > div:last-child {
        margin-right: 0;
    }
    .mini-task-container{
        width: fit-content;
    }
    .progress-column, .dotted-container {
        min-height: auto;
    }
}
/* MAX WIDTH 725px */
@media (max-width: 725px) {
    .board-header{
        flex-direction: column;
    }
    #add-task-btn-board{
        display: none;
    }
    .header-wrapper{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    #add-task-btn-board-mobile {
        margin-right: 18px;
        cursor: pointer;
        width: 40px;
    }
    .board-container{
        padding-bottom: calc(80px + 70%);
    }
    .dotted-container{
        width: 90%;
    }
    .progress-container{
        margin-left: 16px;
        margin-right: 16px;
        width: 90%;
    }
    .minitask-menu{
        display: flex
    }
    .mini-task-container:hover{
        transform: rotate(0deg);
    }
}