.contacts-contact-container {
  position: fixed;
  top: 96px;
  left: 232px;
  height: 100vh;
  background-color: white;
  box-shadow: 4px 0 6px 0 rgba(0, 0, 0, 8%);
}

.contact-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 32px 24px;
}

.contact-add-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 352px;
  border: 1px solid #2a3647;
  border-radius: 10px;
  background-color: #2a3647;
  padding: 12px 0;
}

.contact-add-container span {
  color: white;
  font-weight: 700;
  font-size: 21px;
}

.contact-add-container:hover {
  cursor: pointer;
  background-color: var(--light-blue);
  border: 1px solid var(--light-blue);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 25%);
}

.contacts-letter-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 17px 36px;
}

.contacts-letter-container span {
    font-weight: 400;
    font-size: 20px;
}

.contacts-letter-border {
    width: 100%;
    border-bottom: 1px solid #D1D1D1;
}

.contacts-contact-data {
    display: flex;
    align-items: center;
    gap: 35px;
    padding: 15px 24px;
}

.contacts-contact-details {
    display: flex;
    flex-direction: column;
}