.desktop-header {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.2);
    align-items: center;
    padding: 0px 40px 0px 350px;
    height: 96px;
}

.user-icon {
    width: 50px;
    height: 50px;
    border: 3px solid var(--dark-blue);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: var(--user-green);
    cursor: pointer;
}

.user-icon:hover {
    background-color: #E2E6EC;
}

.help-and-user-icon {
    display: flex;
    gap: 16px;
    align-items: center;
}

.help-icon {
    cursor: pointer;
}

.help-icon:hover {
    transform: scale(1.2);
}

h4 {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.desktop-menu {
    display: flex;
    height: 100vh;
    background-color: var(--dark-blue);
    z-index: 999;
    position: fixed;
    box-sizing: border-box;
    width: 232px;
    top: 0;
    align-items: center;
    flex-direction: column;
    padding-top: 64px;
}

.text-container {
    margin: 70px 60px 0 328px;
}

.menu-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding-top: 114px;
}


.menu-link {
    display: flex;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    padding: 8px 0px 8px 56px;
    box-sizing: border-box;
    width: 232px;
    height: 46px;
}

.menu-link:hover {
    background-color: #344256;
}

.privacy-section {
    padding-top: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.privacy-link-container {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 8px 0px 8px 56px;
    box-sizing: border-box;
    width: 232px;
    height: 32px;
}

.privacy-link-container:focus {
    background-color: var(--highlighted);
}


.menu-link {
    display: flex;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    color: var(--background-grey);
    font-weight: 300;
}

.privacy-link {
    display: flex;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    color: var(--background-grey);
    font-weight: 300;
}

.privacy-link:hover {
    color: var(--light-blue);
    font-weight: 500;
}

.user-menu {
    display: flex;
    flex-direction: column;
    background-color: var(--dark-blue);
    padding: 10px;
    font-weight: 400;
    border-radius: 20px 0px 20px 20px;
    top: 136px;
    right: 10px;
    position: fixed;
    width: 150px;
    height: 150px;
}

.user-menu-item:hover {
    background-color: #344256;
}

.user-menu-item {
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 8px 16px 8px 16px;
    margin-top: 8px;
    border-radius: 8px;
}