:root {
  --background-grey: #f6f7f8;
  --dark-blue: #2a3647;
  --highlighted: #091931;
  --light-blue: #29abe2;
  --user-story-task: #0038ff;
  --technical-task: #1fd7c1;
  --urgent: #ff4910;
  --medium: #ffa800;
  --low: #9be95e;
  --user-orange: #ff7a00;
  --user-mid-orange: #ffa35e;
  --user-light-orange: #ffbb2b;
  --user-green: #1fd7c1;
  --user-light-green: #c3ff2b;
  --user-purple: #9327ff;
  --user-light-purple: #6e52ff;
  --user-red: #ff4646;
  --user-light-red: #ff745e;
  --user-yellow: #ffc701;
  --user-light-yellow: #ffe62b;
  --user-pink: #ff5eb3;
  --user-light-pink: #fc71ff;
  --user-blue: #0038ff;
  --user-light-blue: #00bee8;
}

.active {
  background-color: var(--highlighted);
}

html {
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}

body {
  margin: 0 auto;
  background-color: var(--background-grey);
}

.d-none {
  display: none !important;
}

.login-body {
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--background-grey);
}

h1 {
  font-weight: 700;
  font-size: 61px;
  margin-block-start: 0;
  margin-block-end: 0;
}

.animated-logo-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: white;
  animation: logo-bg 1s ease 0s 1 normal forwards;
}

@keyframes logo-bg {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    z-index: -1;
  }
}

#animated-logo {
  position: absolute;
  top: 345px;
  left: 583px;
  width: 274px;
  height: 334px;
  animation: logo 1s ease-in-out 0s 1 normal forwards;
}

@keyframes logo {
  100% {
    top: 80px;
    left: 77px;
    width: 100px;
    height: 122px;
  }
}

.login-underline {
  width: 150px;
  border-bottom: 3px solid var(--light-blue);
  margin: 16px 0 32px 0;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 1440px;
  width: 100%;
}

.login-logo {
  position: absolute;
  top: 80px;
  left: 77px;
  width: 100px;
  height: 122px;
}

.login-register-forwarding {
  position: absolute;
  top: 67px;
  right: 122px;
  display: flex;
  align-items: center;
  gap: 35px;
}

.login-sign-up-button {
  background-color: var(--dark-blue);
  border: 1px solid var(--dark-blue);
  border-radius: 8px;
  padding: 15px 16px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  transition: border 100ms ease-in-out, background-color 100ms ease-in-out;
}

.login-sign-up-button:hover {
  cursor: pointer;
  background-color: var(--light-blue);
  border: 1px solid var(--light-blue);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 25%);
}

.login-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 632px;
  width: 402px;
  border-radius: 30px;
  box-shadow: 0 0 14px 3px rgba(0, 0, 0, 4%);
  padding: 48px 115px 48px 115px;
  background-color: rgb(255, 255, 255);
}

.login-input-area {
  display: flex;
  flex-direction: column;
  height: 152px;
  gap: 32px;
}

.login-input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  width: 378px;
  padding: 12px 21px 12px 21px;
}

.login-input-container:hover {
  cursor: pointer;
}

.login-input {
  outline: none;
  border: none;
  font-size: 20px;
  flex: 1;
}

.login-input::placeholder {
  color: #d1d1d1;
}

.login-remember {
  display: flex;
  align-items: center;
  width: 383px;
  gap: 8px;
  margin: 22.5px 0 0 39px;
}

.login-checkbox {
  border-radius: 3px;
}

.login-checkbox:hover {
  cursor: pointer;
  background-color: #edf2fa;
}

.log-in-button-container {
  display: flex;
  gap: 35px;
  margin-top: 32px;
}

.log-in-button {
  background-color: var(--dark-blue);
  border: 2px solid var(--dark-blue);
  border-radius: 8px;
  padding: 15px 24px;
  color: white;
  font-size: 21px;
  font-weight: 700;
  transition: border 100ms ease-in-out, background-color 100ms ease-in-out;
}

.log-in-button:hover {
  cursor: pointer;
  background-color: var(--light-blue);
  border: 2px solid var(--light-blue);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 25%);
}

.log-in-guest-button {
  background-color: white;
  border: 2px solid var(--dark-blue);
  border-radius: 8px;
  padding: 15px 24px;
  color: var(--dark-blue);
  font-size: 21px;
  font-weight: 700;
  transition: border 100ms ease-in-out, color 100ms ease-in-out;
}

.log-in-guest-button:hover {
  cursor: pointer;
  color: var(--light-blue);
  border: 2px solid var(--light-blue);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 25%);
}

.login-legal-footer {
  position: absolute;
  bottom: 40px;
  display: flex;
  gap: 16px;
}

.login-legal-link {
  font-size: 16px;
  color: #a8a8a8;
  font-weight: 400;
  padding: 8px;
  text-decoration: none;
}

.login-legal-link:hover {
  font-weight: 700;
  color: var(--light-blue);
}

.signup-main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 632px;
  width: 402px;
  border-radius: 30px;
  box-shadow: 0 0 14px 3px rgba(0, 0, 0, 4%);
  padding: 48px 88px 48px 88px;
  background-color: rgb(255, 255, 255);
}

.singup-arrow-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 64px;
  left: 48px;
  width: 32px;
  height: 32px;
  border-radius: 43px;
}

.singup-arrow-container a {
  width: 21px;
  height: 21px;
}

.signup-arrow-left {
  width: 21px;
  height: 21px;
}

.singup-arrow-container:hover {
  cursor: pointer;
  background-color: #eeeeee;
}

.signup-input-area {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.signup-policy {
  display: flex;
  align-items: center;
  margin-top: 22.5px;
}

.signup-checkbox {
  margin-right: 8px;
}

.signup-accept-privacy {
  color: #a8a8a8;
}

.signup-policy-link {
  font-size: 16px;
  color: var(--light-blue);
  text-decoration: none;
}

.signup-policy-link:hover {
  text-decoration: underline;
  font-weight: 400;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px var(--dark-blue);
  border-radius: 8px;
}

ul.a {
  list-style-position: outside;
}

h3 {
  margin: 0;
}
