.summary-head {
    display: flex;
    height: 100px;
    align-items: center;
    padding-bottom: 56px;
    user-select: none;
}

.vertical-line {
    display: inline-block;
    height: 59px;
    width: 2px;
    background-color: var(--light-blue);
    margin: 0 20px;
    vertical-align: middle;
}

h1 {
    font-weight: 700;
    font-size: 61px;
}

h3 {
    font-weight: 400;
    font-size: 27px;
    color: var(--dark-blue);
}

.greetingTime {
    font-weight: 500;
    font-size: 47px;
    color: var(--dark-blue);
}

.greetingUserName {
    font-size: 64px;
    font-weight: 700;
    color: var(--light-blue);
}

.right-container {
    display: flex;
    align-items: center;
    padding: 0px 64px 0px 64px;
    user-select: none;
}

.left-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 560px;
    width: 50%;
}

.summary-container {
    display: flex;
}

.summary-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2A3647;
    border-radius: 50%;
    min-width: 69px;
    min-height: 69px;
    width: 69px;
    height: 69px;
}

.row-1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 168px;
    gap: 32px;
}

.todo-box {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 264px;
    width: 50%;
    gap: 18px;
    padding: 33px 0px 33px;
    box-shadow: 0px 0px 4px 0px rgb(207, 207, 207);
    background-color: white;
    border-radius: 30px;
    cursor: pointer;
}

.todo-box:hover {
    background-color: var(--dark-blue);
    transform: scale(1.05); 
}

.summary-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: var(--dark-blue);
}

.number {
    font-weight: 600;
    font-size: 64px;
    line-height: 76.8px;
    color: black;
}

.row-2 {
    display: flex;
    max-width: 560px;
    border-radius: 30px;
    width: 100%;
    gap: 16px;
    background-color: white;
    box-shadow: 0px 0px 4px 0px rgb(207, 207, 207);
    cursor: pointer;
}

.row-3 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 168px;
    gap: 28px;
}

.row-3-box {
    gap: 0 !important;
    padding: 0px 16px 0px 16px;
}

.vertical-line-urgent {
    width: 2px;
    background-color: #d1d1d1;
    height: 102px;
    display: inline-block;
    margin: 0 61px;
    vertical-align: middle;
}

.deadline-date {
    font-weight: 700;
    font-size: 21px;
    color: var(--dark-blue);
}

.deadline {
    display: flex;
    flex-direction: column;
}

.deadline-text {
    padding-top: 13px;
    font-weight: 400;
    font-size: 16px;
    color: var(--dark-blue);
}

.todo-box:hover .summary-item {
    background-color: white; 
}

@media (max-width: 1000px) {
    .right-container {
      display: none;
    }
    .summary-head {
        align-items: flex-start;
        flex-direction: column;        
    }
    .vertical-line {
        display: none;
    }
    .line {
        display: block !important;
        margin-top: 10px;
    }

    .summary-head {
        gap: 8px;
    }

  }
  
  .line {
    width: 120px;
    border-bottom: 4px solid var(--light-blue);
    border-radius: 8px;
    display: none;
  }