<header class="desktop-header">
    <div>
        <h4>Kanban Project Management Tool</h4>
    </div>
    <div class="help-and-user-icon">
        <a href="help.html">
            <img class="help-icon" src="/assets/img/help.svg" alt="Help">
        </a>
        <p class="user-icon">AS</p>
    </div>
</header>

<div class="desktop-menu">
    <div class="menu-logo">
        <img src="/assets/img/logo_white.svg">
    </div>
    <div class="menu-items">
        <a class="menu-link" href="summary.html">
            <img src="/assets/img/summary_grey.svg">
            <div>Summary</div>
        </a>

        <a class="menu-link" href="add_task.html">
            <img src="/assets/img/addtask_grey.svg">
            <div>Add Task</div>
        </a>

        <a class="menu-link" href="board.html">
            <img src="/assets/img/board_grey.svg">
            <div>Board</div>
        </a>

        <a class="menu-link" href="contacts.html">
            <img src="/assets/img/contacts_grey.svg" alt="">
            <div>Contacts</div>
        </a>
    </div>


    <div class="privacy-section">
        <div class="privacy-link-container">
            <a class="privacy-link" href="privacy.html">Privacy Policy</a>
        </div>
        <div cl>
            <a class="privacy-link" href="legal.html">Legal Notice</a>
        </div>
    </div>
</div>