<script src="menu.js"></script>

<header class="desktop-header">
    <div>
        <h4 style="user-select: none;">Kanban Project Management Tool</h4>
    </div>
    <div class="help-and-user-icon" id="user-menu-icons">
        <a href="help.html" id="help-icon">
            <img class="help-icon" src="assets/img/help.svg" alt="Help">
        </a>
        <p onclick="openUserMenu()" class="user-icon"></p>
        <div id="user-menu" class="user-menu d-none">
            <a class="user-menu-item" href="legal.html">
                <span>Legal Notice</span>
            </a>
            <a class="user-menu-item" href="privacy.html">
                <span>Privacy Policy</span>
            </a>
            <a onclick="logout()" class="user-menu-item" href="#">
                <span>Log Out</span>
            </a>
        </div>
    </div>
</header>

<div class="desktop-menu" id="menu">
    <div class="menu-logo">
        <img src="assets/img/logo_white.svg">
    </div>
    <div class="menu-items" id="menu-items">
        <a class="menu-link" href="summary.html">
            <img src="assets/img/summary_grey.svg">
            <div>Summary</div>
        </a>

        <a class="menu-link" href="add_task.html">
            <img src="assets/img/addtask_grey.svg">
            <div>Add Task</div>
        </a>

        <a class="menu-link" href="board.html">
            <img src="assets/img/board_grey.svg">
            <div>Board</div>
        </a>

        <a class="menu-link" href="contacts.html">
            <img src="assets/img/contacts_grey.svg" alt="">
            <div>Contacts</div>
        </a>
    </div>


    <div class="privacy-section" id="privacy-section"> 
        <div class="privacy-link-container">
            <a class="privacy-link" id="privacy-link" href="privacy.html">Privacy Policy</a>
        </div>
        <div class="privacy-link-container">
            <a class="privacy-link" id="legal-link" href="legal.html">Legal Notice</a>
        </div>
    </div>
</div>