<script src="menu.js"></script>

<header class="desktop-header">
    <div>
        <h4 style="user-select: none;">Kanban Project Management Tool</h4>
</header>

<div class="desktop-menu" id="menu">
    <div class="menu-logo">
        <img src="/assets/img/logo_white.svg">
    </div>

    <div class="privacy-section" style="padding-top: 643px;">
        <div class="privacy-link-container">
            <a class="privacy-link" href="external_privacy.html">Privacy Policy</a>
        </div>
        <div class="privacy-link-container">
            <a class="privacy-link" href="external_legal.html">Legal Notice</a>
        </div>
    </div>
</div>