<div class="add-task-headline">
    <h1>Add Task</h1>
</div>
<form id="add-task" class="add-task">
    <div class="add-task-left">
        <div class="left-input-container">
            <label for="title">Title<span class="red-asterisk">*</span></label>
            <input onfocus="resetFieldStyle(this)" required type="text" id="title" placeholder="Enter a title">
            <span class="error-message" id="title-error">This field is required</span>
            <label for="description">Description</label>
            <textarea id="description" placeholder="Enter a description"></textarea>
            <p>Assigned to</p>
            <div class="custom-select-wrapper" onclick="toggleDropdownAssign(); renderContacts()">
                <div id="assigned-to" class="custom-select">
                    <div class="select-selected">Select contacts to assign</div>
                    <img class="dropdown-arrow" id="img-dropdown" src="assets/img/addtask_dropdown.svg">
                    <div class="select-items select-hide"></div>
                </div>
            </div>
            <div id="assign-contacts"></div>
        </div>
        <div class="info-container">
            <p class="field-required-info"><span class="red-asterisk">*</span> This field is required</p>
        </div>
    </div>
    <div class="divider"></div>
    <div class="add-task-right">
        <div class="right-input-container">
            <label for="due-date">Due date<span class="red-asterisk">*</span></label>
            <input onfocus="resetFieldStyle(this)" required type="date" id="due-date">
            <span class="error-message" id="due-date-error">This field is required</span>
            <div id="priority">
                <p>Prio</p>
                <div class="priority-container">
                    <div onclick="chooseUrgentPrio()" id="priority-urgent">Urgent <img id="img-urgent"
                            src="assets/img/addtask_urgent.svg"></div>
                    <div onclick="chooseMediumPrio()" id="priority-medium">Medium <img id="img-medium"
                            src="assets/img/addtask_medium.svg"></div>
                    <div onclick="chooseLowPrio()" id="priority-low">Low <img id="img-low"
                            src="assets/img/addtask_low.svg"></div>
                </div>
            </div>
            <p>Category<span class="red-asterisk">*</span></p>
            <div class="custom-select-wrapper" onclick="toggleDropdownCat(); renderCategories()">
                <div onfocus="resetFieldStyle(this)" id="choose-category" class="custom-select" data-value="">
                    <div class="select-selected">Select task category</div>
                    <img class="dropdown-arrow" id="img-dropdown-cat" src="assets/img/addtask_dropdown.svg">
                    <div class="select-items select-hide"></div>
                </div>
            </div>
            <span class="error-message" id="category-error">This field is required</span>
            <label for="subtasks">Subtasks</label>
            <div class="add-subtask">
                <input type="text" id="subtasks" placeholder="Add new subtask">
                <img onclick="addSubtask()" class="icon-plus" src="assets/img/addtask_plus.svg" alt="">
            </div>
            <div id="subtask-container"></div>
            <div class="add-task-buttons">
                <button onclick="clearForm()" id="clear-btn">Clear<img src="assets/img/cancel_dark.svg"></button>
                <button onclick="addTask(); return false" id="add-task-btn">Create Task<img
                        src="assets/img/addtask_check.svg"></button>
            </div>
        </div>
    </div>
</form>
<div id="notification-wrapper">
    <div id="notification-container"></div>
</div>